@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/config.scss';
.d3-container {
	background: #eee;
	padding: 20px;
	border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	column-gap: 20px;
	row-gap: 20px;
	grid-template-rows: repeat(3, 1fr);
	transition: all 1s;
	outline: none;

	&.maximize {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
		div.d3-graph {
			transform: scale(1);
		}
		div.d3-graph.hide-d3 {
			opacity: 0;
			z-index: -1;
			transform: scale(0);
			position: absolute;
		}
	}
	> div.d3-graph {
		transform: scale(0.9);
		background: #fff;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		padding: 20px;
		justify-content: space-between;
		transition: all 0.8s;
		button {
			cursor: pointer;
		}
		label,
		button {
			font-size: 1.4em;
			font-family: 'DM Sans';
			font-weight: bold;
		}
		> div:first-child {
			display: flex;
			justify-content: space-between;
		}
		> div:last-child {
			transform-origin: center center;
			display: flex;
			align-items: center;
			justify-content: center;
			.tooltip-d3 {
				transition: all 0.3s;
				position: absolute;
				max-height: 300px;
				overflow-y: auto;
				&.hide {
					transform: scale(0);
				}
				&.com-cards {
					min-width: 400px;
					display: grid;
					grid-template-columns: 1fr;
				}
			}
			> svg {
				// height: 90%;
				width: 90%;
			}
		}
	}
}

#calender {
	grid-column: calc(1 / 4);
}

#sunburst, #cluster {
	.wedge {
		&--successful {
			fill: rgba(135, 230, 135, 0.5); //$dag-successful;
		}

		&--failed {
			fill: rgba(249, 212, 218, 0.5); // $dag-failed;
		}

		&--pending {
			fill: $dag-waiting;
		}
		&--unknown {
			fill: rgba(194, 148, 135, 0.5);//$dag-waiting-for-parent;
		}
		&--waiting {
			fill: $dag-reconciling;
		}
		&--running {
			fill: $dag-running;
		}
		&--destroyed {
			fill: rgba(182, 182, 182, 0.7);
		}
	}
}

div.graph-container {
	background: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	transition: all 0.8s;
	button {
		cursor: pointer;
	}
	label,
	button {
		font-size: 1.4em;
		font-family: 'DM Sans';
		font-weight: bold;
	}
	.tooltip {
		position: absolute;
		transition: all 0.3s;
		&-text {
			padding: 5px 10px;
			background-color: black;
			color: $ck-green;
			border-radius: 5px;
		}
	}
	> .pack-container {
		display: flex;
		justify-content: center;
		// align-items: center;
		~.tooltip-d3.com-cards {
			transition: all 0.3s;
			max-height: 300px;
			overflow-y: auto;
			display: flex;
			align-items: center;
			padding: 5px;
			justify-content: center;
			margin: 0px;
			&.hide {
				transform: scale(0);
			}
			> .com-card {
				width: 500px;
				// display: flex;
			}
		}
		> svg {
			height: 95vh;
			circle {
				transition: all 0.3s;
				&:hover {
					// filter: drop-shadow( 0px 0px 20px #bbb);
					stroke-width: 5px;
					stroke: black;
				}
			}
			.selected {
				stroke-width: 5px;
				stroke: black;
			}
			.striped {
				stroke-dasharray: 2px 2px 2px;
			}
		}
	}
}

.color-legend {
	// background: white;
	position: fixed;
	bottom: 50px;
	right: 90px;
	transition: all 0.3s;
	font-size: 0.8em;

	&-show {
		transform: translateY(0%);
	}

	&-hide {
		transform: translateY(calc(100% + 50px));
		.color-legend_toggler button {
			transform: rotate(-90deg);
		}
	}

	&_toggler button {
		position: absolute;
		right: 0px;
		top: -40px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		height: 30px;
		width: 30px;
		// background: $brand-color-dark-gray;
		cursor: pointer;
		transition: all 0.3s;
		transform: rotate(90deg);
		cursor: pointer;
		svg {
			transform-origin: center center;
			path {
				fill: white;
			}
		}
	}

	&_status {
		display: flex;
		font-size: 0.8em;
		font-style: italic;
		font-family: 'DM Sans';
	}

	&_value {
		margin: 5px 0;
		display: flex;
		label:first-child {
			height: 20px;
			width: 60px;
		}
		label:last-child {
			margin: 0 5px;
		}
	}
}

:export {
	successful: rgba(135, 230, 135, 0.5);
	failed: rgba(249, 212, 218, 0.5);
	pending: $dag-waiting;
	unknown: rgba(194, 148, 135, 0.5);
	waiting: $dag-reconciling;
	running: $dag-running;
	destroyed: rgba(182, 182, 182, 0.7);;
	initializing: $dag-in-progress;
	env_provisioned: $dag-successful;
	env_destroyed: rgba(182, 182, 182, 0.7);
	skipped_teardown: rgba(182, 182, 182, 0.7);
	skipped_reconcile: rgba(182, 182, 182, 0.7);
	skipped: repeating-linear-gradient(-55deg, transparent, transparent 2px, #999 2px, #999 4px);
}
