# IntelliJ
.idea

# Environment files
*.env

# Kubernetes cert
cert

# Local Operator files
company/
team/
config-watcher/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Development
build/
testbin/
test-results/
.DS_Store
*.swp
*.swo

manager
