resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: controller
  # HACK: this interpolation is not valid, added here and
  # git ignored this file to avoid account id getting committed to version control, better solution needed
  newName: ${AWS_ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/zlifecycle-il-operator
  newTag: latest
