module "{{ .ComponentName }}" {
    {{- if .Path }}
    	source  = "{{ .Source }}//{{ .Path }}"
    {{- else }}
    	source  = "{{ .Source }}"
    {{- end }}
{{- if .Version }}
    version = "{{ .Version }}"
{{- end }}
{{- range .Variables }}
    {{ .Name }} = {{ .Value }}
{{- end }}
{{- range .Secrets }}
    {{ .Name }} = data.aws_ssm_parameter.{{ .Name }}.value
{{- end }}
    {{- template "tfvars" . }}
}

{{- define "tfvars" }}
{{- if .VariablesFile }}
{{ .VariablesFile }}
{{- end }}
{{- end }}

