module "{{ .ComponentName }}" {
    source = "{{ .Source }}//{{ .Path }}"
{{- range .Variables }}
    {{- if .ValueFrom }}
    {{ .Name }} = {{ .ValueFrom }}
    {{- else }}
    {{ .Name }} = {{ .Value }}
    {{- end }}
{{- end }}
{{- range .Secrets }}
    {{ .Name }} = data.aws_ssm_parameter.{{ .Name }}.value
{{- end }}
    {{- template "tfvars" . }}
}

{{- define "tfvars" }}
{{- if .VariablesFile }}
{{ .VariablesFile }}
{{- end }}
{{- end }}

