@import 'src/assets/styles/config';

.waiting-loader {
	circle:nth-of-type(1) {
		scale: 1;
		transform-origin: center center;
		animation: scale-1 1s infinite;
	}

	circle:nth-of-type(2) {
		scale: 1;
		transform-origin: center center;
		animation: scale-2 1s infinite;
	}

	circle:nth-of-type(3) {
		scale: 1;
		transform-origin: center center;
		animation: scale-3 1s infinite;
	}

	@keyframes scale-1 {
		0% {
			scale: 1;
		}
		30% {
			scale: 0.8;
			opacity: 0.6;
		}
	}
	@keyframes scale-2 {
		10% {
			scale: 1;
		}
		40% {
			scale: 0.8;
			opacity: 0.6;
		}
	}
	@keyframes scale-3 {
		20% {
			scale: 1;
		}
		50% {
			scale: 0.8;
			opacity: 0.6;
		}
	}
}
