terraform {
    backend "s3" {
        region         = "{{ .Region }}"
        bucket         = "{{ .Bucket }}"
        encrypt        = "{{ .Encrypt }}"
        key            = "{{ .Key }}"
        profile        = "{{ .Profile }}"
        dynamodb_table = "{{ .DynamoDBTable }}"
    }
}
