{{- range .DependsOn }}
data "terraform_remote_state" "{{ . }}" {
	backend = "s3"
	config = {
		region  = "{{ $.Region }}"
		profile = "{{ $.Profile }}"
		bucket  = "{{ $.Bucket }}"
		key     = "{{ $.Team }}/{{ $.Environment }}/{{ . }}/terraform.tfstate"
	}
}
{{- end }}
