module "{{ .ComponentName }}" {
    source = "{{ .Source }}//{{ .Path }}"
{{- range .Variables }}
    {{- if .ValueFrom }}
    {{ .Name }} = {{ .ValueFrom }}
    {{- else }}
    {{ .Name }} = {{ .Value }}
    {{- end }}
{{- end }}
}
