{
  "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
  "plugins": ["stylelint-prettier", "stylelint-scss"],
  "rules": {
    "prettier/prettier": true,
    "color-hex-length": "long",
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
